name: ci

on:
  push:
    branches:
      - "master"
  pull_request:
    paths-ignore:
      - '**.md'

# Cancel previous PR builds.
concurrency:
  # Cancel all workflow runs except latest within a concurrency group. This is achieved by defining a concurrency group for the PR.
  # Non-PR builds have singleton concurrency groups.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout the source code"
        uses: actions/checkout@v3

      - name: "Install Python"
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: "Install pre-commit"
        run: pip install pre-commit

      - name: "Run pre-commit checks"
        run: pre-commit run --hook-stage manual --all-files

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: [
          "3.7",
          "3.8",
          "3.9",
          "3.10",
          "3.11",
          "pypy-3.8",
          "pypy-3.9",
        ]
        trino: [
          "latest",
        ]
        sqlalchemy: [
          "~=1.4.0"
        ]
        include:
          # Test with older Trino versions for backward compatibility
          - { python: "3.11", trino: "351", sqlalchemy: "~=1.4.0" }  # first Trino version
          # Test with sqlalchemy 1.3
          - { python: "3.11", trino: "latest", sqlalchemy: "~=1.3.0" }
    env:
      TRINO_VERSION: "${{ matrix.trino }}"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libkrb5-dev
          pip install .[tests] sqlalchemy${{ matrix.sqlalchemy }}
      - name: Run tests
        run: |
          pytest -s tests/
